@import "../../global.scss";

.portfolioList {
  font-size: 15px;
  margin: 0 10px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  &.active {
    background-color: $mainColor;
    color: white;
  }
}
