@import "../../global.scss";

.scaled-frame {
  width: 1000px;
  height: 2000px;
  border: 1px solid black;
  transform: scale(0.8, 0.75);
  zoom: 0.4;
}

.intro {
  // background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include mobile {
      width: 100%;
      text-align: center;
    }
    .wrapper {
      width: 70%;
      height: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h1 {
        font-size: 60px;
        margin: 10px 0;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        span {
          color: $mainColor;
        }
        .ityped-cursor {
          // color: black;
          animation: blink 1s infinite;

          @keyframes blink {
            to {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
.arrowIntro {
  position: absolute;
  bottom: 10px;
  transform: translate(-50%, -50%);
  left: 50%;
  .ExpandMoreIcon {
    font-size: 100px;
    // color: black;
    animation: arrowFlash 2s infinite;
  }
  @keyframes arrowFlash {
    to {
      opacity: 0;
    }
  }
}
